//Libs
@import "libs/fontawesome/fontawesome.scss";
@import "libs/fontawesome/solid.scss";

//Vars
@import "vars/colors";

.hidden {
  display: none;
}

a {
  color: black;

  &:hover {
    color: black;
  }
}

header {
  width: 100%;

  nav {
    box-shadow: 0 5px 5px $color-primary-4;
  }

  .user-panel {
    float: right;
    padding: 7px;

    i {
      cursor: pointer;
      padding: 10px;
      font-size: 20px;
    }
  }

  .logo {
    max-width: 200px;
    height: 100px;
    margin: 10px;
    background: $color-secondary-2-0;
  }

  .contacts {
    float: right;

    a {
      padding: 7px;
    }
  }

  nav {

    .categories {
      text-align: center;
      padding: 15px;

      .category-link {
        width: fit-content;
        height: fit-content;
        text-decoration: none!important;
        padding: 15px;
        border-radius: 5px;

        &:hover {
          background: $color-secondary-1-1;
        }

        &:active {
          background: $color-secondary-1-0;
        }
      }
    }
  }
}

.pop-up {
  position: absolute;
  display: block;
  width: 500px;
  height: fit-content;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: black;
  top: 75px;
  left: 50%; margin-left: -250px;
  transition: .5s;

  background: white;

  z-index: 10;

  &-hidden {
    top: -100%;
  }
}

#basket-button {
  cursor: pointer;
}