@import "vars/colors";
@import "_product";


#sidebar .inner {
  width: 100%;
  height: calc(100% - 20px);
  padding: 10px 0;
  margin: 10px 0;
  border-right: 1px solid black;
}

#mail {
  text-align: center;
}

#content {
  position: relative;
}

.group {
  width: 100%;
  height: 100%;
  padding: 10px 0;

  .row {
    margin: 0;

    .col {
      padding: 0;
    }
  }
}

tbody {
  tr {
    cursor: pointer;
    transition: .3s;
  }
  tr:hover {
    background: #475057;
  }
}

li {
  text-align: center;
}

h4, h5 {
  text-align: center;
  margin: 10px auto;
}