//Libs
@import "libs/fontawesome/fontawesome.scss";
@import "libs/fontawesome/solid.scss";
@import "libs/fontawesome/regular.scss";
@import "libs/fontawesome/brands.scss";
@import "libs/bootstrap";

//Vars
@import "vars/colors";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

// Main styles
.hidden {
  display: none;
}

a {
  color: black;

  &:hover {
    color: black;
  }
}

ul {
  list-style: none;
  padding: 0;
}

.dynamic-text-input {
  position: relative;
  width: 300px;
  margin-bottom: 30px;
  padding-top: 15px;

  input {
    background: none;
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
  }
  input:focus {
    outline: none;
  }

  label {
    color: black;
    font-size: 20px;
    position: absolute;
    pointer-events: none;
    left: 10px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input:focus ~ label, input:valid ~ label, input:disabled ~ label {
    top: 0;
    font-size: 16px;
    color: $color-secondary-2-3;
  }

  .bar {
    position: relative;
    display: block;
    width: 100%;

    &::before {
      left: 50%;
    }

    &::after {
      right: 50%;
    }

    &::before, &::after {
      content: "";
      height: 2px;
      width: 0;
      bottom: 0;
      position: absolute;
      background: $color-secondary-2-3;
      transition: 0.2s ease all;
      -moz-transition: 0.2s ease all;
      -webkit-transition: 0.2s ease all;
    }
  }

  /* active state */
  input:focus ~ .bar:before,
  input:focus ~ .bar:after,
  input:disabled ~ .bar:before,
  input:disabled ~ .bar:after {
    width: 50%;
  }
}

.t-a-right {
  text-align: right;
}

.checkout-block {
  border-bottom: 1px solid $color-secondary-2-2;
}

.active {
  color: $color-secondary-2-3;
}

.core {
  background: $color-primary-0;
  box-shadow: 0 5px 5px $color-primary-4;
  border-radius: 5px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.select-num {
  display: inline-block;
  padding: 5px;

  &-val {
    display: inline-block;
    width: 25px;
    margin-bottom: 5px;
    font-weight: 600;
    text-align: center;
    cursor: default;
    text-align: center;
  }
}

.increment, .decrement {
  display: inline-block;

  i {
    font-size: 22px;
    transition: .3s;

    &:hover {
      color: #555;
    }

    &:active {
      color: #999999;
    }
  }
}

.total {
  width: 100%;
  padding-top: 10px;
  font-size: 25px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  text-align: right;
  color: black;
}

.content-blocker {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  top: 0;
  z-index: 10;
  transition: opacity .15s linear;

  &:hover {
    opacity: 1;

    .opacity {
      opacity: .8;
    }
  }

  .opacity {
    position: absolute;
    transition: opacity .15s linear;
    background: black;
    opacity: 0;
    width: 100%;
    height: 100%;
  }

  &-body {
    position: absolute;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 2;

    .inner {
      display: table-cell;
      width: fit-content;
      vertical-align: middle;

      span {
        font-size: 22px;
        font-weight: 900;
        font-family: 'Noto Sans JP', sans-serif;
        color: white;
      }
    }
  }
}

.product-linear {
  overflow: auto;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  background: $color-secondary-1-0;
  border-radius: 5px;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &-title {
    display: inline-block;
    height: 100%;
    line-height: 45px;
    font-family: 'Noto Sans JP', sans-serif;
  }

  &-price {
    display: inline-block;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: $color-secondary-2-3;
    cursor: default;
  }

  i {
    padding: 8px;
    font-size: 18px;
    cursor: pointer;

    &.fa-shopping-cart {
      padding-left: 10px;
    }
  }
}

// Site parts
header {
  width: 100%;

  .logo {
    max-width: 200px;
    height: 100px;
    margin: 10px auto;
    background: $color-secondary-2-0;
  }

  .search-col {
    text-align: center;

    .search {
      width: 80%;
      height: 35px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 22px;
    }
  }

  .user-panel {
    display: flex;
    float: right;
    justify-content: center;
    width: 100%;
    padding: 7px;

    i {
      cursor: pointer;
      padding: 15px 10px 10px 10px;
      font-size: 20px;
    }
  }

  .contacts {
    display: flex;
    float: right;
    justify-content: center;
    width: 100%;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li a {
        font-size: 18px;
        font-weight: 600;
        font-family: 'Noto Sans JP', sans-serif;
      }
    }
  }

  nav {

    .categories {
      text-align: center;
      padding: 15px;

      .category-link {
        display: inline-block;
        width: fit-content;
        height: fit-content;
        text-decoration: none!important;
        padding: 15px;
        border-radius: 5px;
        font-weight: 500;
        font-family: 'Noto Sans JP', sans-serif;

        &:hover {
          background: $color-secondary-1-1;
        }

        &:active {
          background: $color-secondary-1-0;
        }
      }
    }
  }
}

footer {

  .social {
    width: fit-content;
    margin: 10px auto;
    text-align: center;

    i {
      margin: 10px;
      font-size: 38px;
      color: #525252;
    }
  }
}

.main-container {
  background: $color-primary-0;
  padding: 10px;
}

// Modal
.modal-title {
  font-family: 'Noto Sans JP', sans-serif;
}