// Vars
@import "vars/colors";

@import "_product.scss";

.total {
  float: none;
  width: 100%;
  text-align: center;
  padding: 0;
  font-size: 22px;
}

#products {
  .product-linear {
    padding: 0 10px;
  }
}

.title {
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

.checkout-block {
  margin: 0 10px;
  padding: 0 10px;
}

.checkout-variant {

  font-family: 'Noto Sans JP', sans-serif;
  font-size: 18px;
  font-weight: 400;

  &__inner {
    border-radius: 5px;
  }

  &__radio {
    label {
      padding-right: 10px;

      &::before {
        float: left;
        cursor: pointer;
        display: block;
        height: 20px;
        width: 20px;
        background: white;
        border-radius: 50%;
        margin-right: 10px;
        margin-top: 3.5px;
        content: "";
      }
    }

    input[type="radio"] {
      width: 0;
      height: 0;
      border: 0;
    }

    input[type="radio"]:checked+label::before {
      background: $color-secondary-2-2;
    }
  }

  &__body {
    display: none;
    width: 100%;
    height: fit-content;
    padding: 10px;

    input {
      width: 100%;
      border-radius: 5px;
      border: 2px solid black;
    }

    select {
      width: 100%;
    }
  }

  &__selected {
    background: $color-secondary-1-0;

    .checkout-variant {
      &__body {
        display: block;
      }
    }
  }
}

.order-price {
  width: 100%;
  text-align: right;
  color: $color-secondary-2-4;

  font-family: 'Noto Sans JP', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

