@import "vars/colors";

h4 {
  width: fit-content;
  margin: 10px auto;
}

.group {
  position: relative;
  width: 50%;
  padding: 10px 10px 20px;
  margin: 25px auto 50px auto;

  border-bottom: 1px solid #000;
  //border-top: 1px solid #000;

  .title {
    position: absolute;
    left: 10px;
    top: -15px;
    margin: 0;

    padding: 5px 10px;
    font-size: 16px;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    color: white;

    border-radius: 5px;
  }

  button {
    position: absolute;
    right: 10px;
    top: -15px;
    margin: 0;
  }
}

.dynamic-text-input {
  width: 100%;
  margin: 0;
}